.fieldNode {
  width: var(--baseWidthTableNode);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ccc;
}

.fieldInput:focus {
  outline: none;
  width: calc(var(--baseWidthTableNode) / 2);
  height: var(--baseHeightFieldNode);
}

.fieldName {
  width: calc(var(--baseWidthTableNode) / 2);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.fieldType {
  width: calc(var(--baseWidthTableNode) / 2);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}