.fieldNode {
  width: var(--baseWidthTableNode);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.fieldInput:focus {
  outline: none;
  border: none;
  width: calc(var(--baseWidthTableNode) * 0.45);
  height: var(--baseHeightFieldNode);
  margin-top: 2px;
}

.fieldName {
  width: calc(var(--baseWidthTableNode) / 2);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.fieldType {
  width: calc(var(--baseWidthTableNode) / 2);
  height: var(--baseHeightFieldNode);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  padding: 0 10px;
}