/* *, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: #0e101c;
}

form {
  max-width: 420px;
  margin: 0 auto;
}

h1 {
  margin-top: 64px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

span {
  display: block;
  color: white;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"] {
  background: #00618a;
  color: white;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 4px;
}

input[type="submit"]:hover {
  background: #498DA9;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
  appearance: none;
} */
