.mainDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
}

.containerCanvas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  height: 750px;
}