.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: var(--border-radius-m);
  color: var(--gray);
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--gray-light);
  padding: var(--spacing-s) var(--spacing-xl);
  opacity: 0.35;

  &:hover {
    color: var(--primary);
  }

  p {
    margin: 2px 0;
  }

  &.active {
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
  }
}
