.projectGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-height: calc(2 * 260px + var(--spacing-s));
  overflow-y: auto;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-xxxl);
  padding-right: var(--spacing-m);

  &::-webkit-scrollbar {
    width: var(--spacing-s);
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-35);
    border-radius: 5px;

    &:hover {
      background-color: var(--primary-dark);
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
