.footer {
  width: 100%;
  background-color: var(--secondary-white);
  color: var(--gray);
  text-align: center;
  padding: var(--spacing-l) 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--gray-30);

  .linksContainer {
    display: flex;
    justify-content: center;
    gap: var(--spacing-m);
    margin-bottom: var(--spacing-l);

    .separator {
      width: 1px;
      height: 18px;
      background-color: var(--gray);
    }
  }

  a {
    margin: 0;
    font-size: var(--font-size-s);
  }
}
