.modalContainer {
  position: absolute;
  top: -51vh;
  left: -45vw;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 101vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}


.modalUpdateContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 17px 25px 36px -3px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 45vw;
  height: 45vh;
}

.fieldInfosContainer {
  max-width: 980px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeCross {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 25%;
  left: 71%;
  cursor: pointer;
  pointer-events: var(--primaryPointerEvents);
}

.infosContainer, .optionsContainer {
  display: flex;
  flex-direction: column;
}

.infosContainer {
  width: 50%;
  padding-right: 64px;
}

.optionsContainer {
  width: 35%;
}

.nameContainer, .typeContainer, .defaultContainer {
  display: flex;
  justify-content: space-between;
  margin: 24px 0
}

.autoIncContainer, .pkContainer, .isNullContainer {
  display: flex;
  justify-content: space-between;
  margin: 24px 0
}

.inputName, .selectType, .inputDefault, .typeOptions, .autoInc, .primaryKey, .isNull {
  pointer-events: var(--primaryPointerEvents);
}
.inputSpecial{
  display: none;
}

.infosContainer > div, .optionsContainer > div {
  margin-bottom: 10px;
}

.validationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 18%;
}

.lineValidation {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin-bottom: 10px;
}

.validationContainer button {
  padding: 10px 20px;
  background-color: #1B9CFC;
  border: none;
  border-radius: 5px;
  color: #fff; 
  cursor: pointer;
  font-size: 16px;
  pointer-events: var(--primaryPointerEvents);
}

.validationContainer button:hover {
  background-color: #1572ba;
}