.fieldContainer {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.fieldActions {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
  cursor: pointer;
}

.fieldInfos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fieldMainInfos {
  font-weight: bold;
  text-transform: uppercase;
}

.fieldMainInfos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.separationLine {
  width: 100%;
  height: 1px;
  background: #000;
  margin: 8px 0;
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}